version: "3.7"
services:
  varnish:
    image: mrrkat/varnish
    container_name: varnish
    restart: always
    environment:
      - VARNISH_SIZE=2G
    command: "-p default_keep=300"
    volumes:
      - "./conf/varnish/:/etc/varnish/"
    depends_on:
      - mysql-server
    network_mode: host
  nginx:
    image: mrrkat/allphp-apache
    container_name: apache
    restart: always
    network_mode: host
    volumes:
      - "./www/:/var/www/html/"
      - "./conf/vhost/:/etc/apache2/conf.d/"
      - "./logs/nginx/:/var/log/apache2/"
      - "./conf/ssl/:/etc/apache2/ssl/"
    depends_on:
      - mysql-server
  elasticsearch:
    image: mrrkat/elasticsearch-7.17
    container_name: elasticsearch
    restart: always
    network_mode: host
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
  opensearch:
    image: mrrkat/opensearch-1.2
    container_name: opensearch
    restart: always
    environment:
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9400:9200"
      - "9600:9600"
  rabbitmq:
    image: mrrkat/rabbitmq-3.9
    container_name: rabbitmq
    restart: always
    network_mode: host
  mysql-server:
    image: mrrkat/mysql-8.0
    container_name: mysql
    restart: always
    network_mode: host
    environment:
      - MYSQL_ROOT_PASSWORD=luxinten
      - MYSQL_DATABASE=magento
      - MYSQL_USER=magento
      - MYSQL_PASSWORD=magento
    volumes:
      - ./data/db:/db/
  phpmyadmin:
    image: mrrkat/phpmyadmin-5.0
    container_name: phpmyadmin
    restart: always
    network_mode: host
    environment:
      - PMA_HOST=127.0.0.1
      - PMA_USER=root
      - PMA_PASSWORD=luxinten
      - UPLOAD_LIMIT=512M
  redis:
    image: mrrkat/redis
    container_name: redis
    restart: always
    network_mode: host
